@media (max-width:1600px) {
    .container{
        width: 1140px !important;
    }
}
@media (max-width:1200px) {
    .container{
        width: 90% !important;
    }
}
@media (max-width:750px) {
    .footer__cards--item:first-child{
        & p{
            color: #000 !important;
            
        }
        & h3{
            fill: #000 !important;
        }
        color: #000 !important;
    }
    .footer__cards--item{
        width:300px !important;
    }
    .main__icon {
        width: 100%;
    }
    .banner__wrapper{
        text-align: center;
        align-items: center;
    }
    .banner__description {
        width: 100%;
    }
    .main__title {
        margin-bottom: 20px;
    }
    .main__cards{
        margin-bottom: 10px;
    }
    .main__cards--item{
        flex: unset;
        position: relative;
        margin-bottom: 10px;
        &::before{
            content: '';
            position: absolute;
            top: 15px;
            left: 2px;
            width: 15px;
            height: 2px;
            background-color: #73a3de;
        }
    }
}