.upcoming{
    margin-top: 40px;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    &__content{
        flex: 1 1 50%;
        height: 60vh;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &:nth-child(2){
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
    &__index {
        color: #4399fa;
        font-size: 30px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        margin-left: 20px;
        &::before {
            content: "0";
        }
    }
    &__subtitle {
        color: #4399fa;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 20px;
    }
    &__title {
        color: #4c637f;
        margin-left: 20px;
        letter-spacing: 1px;
        font-size: 48px;
        margin-bottom: 20px;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    &__description{
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 1.6;
        margin-left: 20px;
        color: #111;
        width: 80%;
    }
    &__calendar{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(https://images01.nicepage.com/f4/1b/f41b4cd55dfd6a5db2d859237f5b740c.png);
    }
}